openapi: "3.1.0"
info:
  title: TruLayer API
  version: "0.1.0"
  description: Trace ingestion, evaluation, query, and feedback API for TruLayer AI.

servers:
  - url: https://api.trulayer.ai
    description: Production
  - url: http://localhost:8080
    description: Local development

security:
  - BearerAuth: []

tags:
  - name: health
  - name: ingest
  - name: traces
  - name: metrics
  - name: feedback
  - name: evals
  - name: apikeys

paths:
  /health:
    get:
      operationId: getHealth
      tags: [health]
      security: []
      summary: Liveness check
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /v1/ingest:
    post:
      operationId: ingestTrace
      tags: [ingest]
      summary: Ingest a single trace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TraceRequest"
      responses:
        "201":
          description: Trace ingested
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IngestResponse"
        "200":
          description: Duplicate — already ingested (idempotent)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DuplicateResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /v1/ingest/batch:
    post:
      operationId: ingestBatch
      tags: [ingest]
      summary: Ingest a batch of traces (max 100)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchRequest"
      responses:
        "201":
          description: Batch ingested
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchIngestResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /v1/traces:
    get:
      operationId: listTraces
      tags: [traces]
      summary: List traces with cursor-based pagination
      parameters:
        - name: project_id
          in: query
          schema: { type: string, format: uuid }
        - name: model
          in: query
          schema: { type: string }
        - name: error
          in: query
          schema: { type: boolean }
        - name: from
          in: query
          schema: { type: string, format: date-time }
        - name: to
          in: query
          schema: { type: string, format: date-time }
        - name: cursor
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 50, minimum: 1, maximum: 200 }
      responses:
        "200":
          description: Trace list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TraceListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/traces/{id}:
    get:
      operationId: getTrace
      tags: [traces]
      summary: Get trace detail with spans and events
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Trace detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Trace"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/metrics:
    get:
      operationId: getMetrics
      tags: [metrics]
      summary: Aggregate metrics (error rate, latency percentiles, cost)
      parameters:
        - name: project_id
          in: query
          schema: { type: string, format: uuid }
        - name: from
          in: query
          schema: { type: string, format: date-time }
          description: Defaults to 24h ago
        - name: to
          in: query
          schema: { type: string, format: date-time }
          description: Defaults to now
      responses:
        "200":
          description: Metrics summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetricsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/feedback:
    post:
      operationId: submitFeedback
      tags: [feedback]
      summary: Submit user feedback on a trace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeedbackRequest"
      responses:
        "201":
          description: Feedback recorded
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/eval:
    post:
      operationId: triggerEval
      tags: [evals]
      summary: Trigger an evaluation run
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EvalTriggerRequest"
      responses:
        "202":
          description: Eval queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalTriggerResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
    get:
      operationId: listEvals
      tags: [evals]
      summary: List evaluations
      parameters:
        - name: trace_id
          in: query
          schema: { type: string, format: uuid }
        - name: limit
          in: query
          schema: { type: integer, default: 50 }
      responses:
        "200":
          description: Eval list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/eval/{id}:
    get:
      operationId: getEval
      tags: [evals]
      summary: Get evaluation result
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Evaluation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Evaluation"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/apikeys:
    post:
      operationId: createAPIKey
      tags: [apikeys]
      summary: Create an API key (owner or member; requires Clerk auth)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAPIKeyRequest"
      responses:
        "201":
          description: Key created — plaintext shown once
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAPIKeyResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    get:
      operationId: listAPIKeys
      tags: [apikeys]
      summary: List API keys for the tenant
      responses:
        "200":
          description: Key list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/APIKey"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/apikeys/{id}:
    delete:
      operationId: revokeAPIKey
      tags: [apikeys]
      summary: Revoke an API key (owner only; requires Clerk auth)
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204":
          description: Revoked
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: SDK API key (`tl_...`) or Clerk session JWT

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    Unauthorized:
      description: Missing or invalid credentials
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    Forbidden:
      description: Insufficient role
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }

  schemas:
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error: { type: string }

    HealthResponse:
      type: object
      required: [status, time]
      properties:
        status: { type: string, example: ok }
        time: { type: string, format: date-time }

    # ── Ingestion ────────────────────────────────────────────────────────────────

    SpanRequest:
      type: object
      required: [name, type]
      properties:
        id: { type: string }
        parent_span_id: { type: string, nullable: true }
        name: { type: string }
        type:
          type: string
          enum: [llm, tool, retrieval, other]
        input: { type: string, nullable: true }
        output: { type: string, nullable: true }
        model: { type: string, nullable: true }
        latency_ms: { type: integer, nullable: true }
        cost: { type: number, nullable: true }
        error: { type: string, nullable: true }
        metadata: { type: object, additionalProperties: true }
        start_time: { type: string, format: date-time, nullable: true }
        end_time: { type: string, format: date-time, nullable: true }

    EventRequest:
      type: object
      required: [message]
      properties:
        id: { type: string }
        span_id: { type: string, nullable: true }
        level:
          type: string
          enum: [info, warn, error]
          default: info
        message: { type: string }
        metadata: { type: object, additionalProperties: true }

    TraceRequest:
      type: object
      properties:
        id: { type: string }
        external_id: { type: string, nullable: true }
        name: { type: string, nullable: true }
        input: { type: string, nullable: true }
        output: { type: string, nullable: true }
        model: { type: string, nullable: true }
        latency_ms: { type: integer, nullable: true }
        cost: { type: number, nullable: true }
        error: { type: string, nullable: true }
        metadata: { type: object, additionalProperties: true }
        spans:
          type: array
          items: { $ref: "#/components/schemas/SpanRequest" }
        events:
          type: array
          items: { $ref: "#/components/schemas/EventRequest" }

    BatchRequest:
      type: object
      required: [traces]
      properties:
        traces:
          type: array
          minItems: 1
          maxItems: 100
          items: { $ref: "#/components/schemas/TraceRequest" }

    IngestResponse:
      type: object
      required: [id, created_at]
      properties:
        id: { type: string, format: uuid }
        created_at: { type: string, format: date-time }

    DuplicateResponse:
      type: object
      required: [status]
      properties:
        status: { type: string, example: duplicate }

    BatchIngestResponse:
      type: object
      required: [ingested, ids]
      properties:
        ingested: { type: integer }
        ids:
          type: array
          items: { type: string, format: uuid }

    # ── Traces ───────────────────────────────────────────────────────────────────

    Span:
      type: object
      required: [id, trace_id, name, span_type, error, started_at]
      properties:
        id: { type: string, format: uuid }
        trace_id: { type: string, format: uuid }
        name: { type: string }
        span_type: { type: string, enum: [llm, tool, retrieval, other, default] }
        input: { type: string, nullable: true }
        output: { type: string, nullable: true }
        error: { type: boolean }
        error_message: { type: string, nullable: true }
        latency_ms: { type: integer, nullable: true }
        model: { type: string, nullable: true }
        prompt_tokens: { type: integer, nullable: true }
        completion_tokens: { type: integer, nullable: true }
        metadata: { type: object, additionalProperties: true }
        started_at: { type: string, format: date-time }
        ended_at: { type: string, format: date-time, nullable: true }

    Trace:
      type: object
      required: [id, project_id, error, tags, started_at]
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        session_id: { type: string, nullable: true }
        name: { type: string, nullable: true }
        input: { type: string, nullable: true }
        output: { type: string, nullable: true }
        error: { type: boolean }
        tags: { type: array, items: { type: string } }
        metadata: { type: object, additionalProperties: true }
        spans:
          type: array
          items: { $ref: "#/components/schemas/Span" }
        started_at: { type: string, format: date-time }
        ended_at: { type: string, format: date-time, nullable: true }

    TraceListResponse:
      type: object
      required: [traces, has_more]
      properties:
        traces:
          type: array
          items: { $ref: "#/components/schemas/Trace" }
        next_cursor: { type: string, nullable: true }
        has_more: { type: boolean }

    # ── Metrics ──────────────────────────────────────────────────────────────────

    MetricsResponse:
      type: object
      required: [total_traces, error_count, from, to]
      properties:
        total_traces: { type: integer }
        error_count: { type: integer }
        error_rate: { type: number, nullable: true, description: "Fraction 0–1; null when total_traces=0" }
        p50_latency_ms: { type: number, nullable: true }
        p95_latency_ms: { type: number, nullable: true }
        p99_latency_ms: { type: number, nullable: true }
        total_cost: { type: number, nullable: true }
        from: { type: string, format: date-time }
        to: { type: string, format: date-time }

    # ── Feedback ─────────────────────────────────────────────────────────────────

    FeedbackRequest:
      type: object
      required: [trace_id, label]
      properties:
        trace_id: { type: string, format: uuid }
        label: { type: string, enum: [good, bad, neutral] }
        score: { type: number, nullable: true }
        comment: { type: string, nullable: true }
        metadata: { type: object, additionalProperties: true }

    # ── Evals ────────────────────────────────────────────────────────────────────

    EvalTriggerRequest:
      type: object
      required: [trace_id, evaluator_type, metric_name]
      properties:
        trace_id: { type: string, format: uuid }
        evaluator_type: { type: string, enum: [llm, rule] }
        metric_name: { type: string }

    EvalTriggerResponse:
      type: object
      required: [eval_id, status]
      properties:
        eval_id: { type: string, format: uuid }
        status: { type: string, enum: [pending, running, complete, failed] }

    Evaluation:
      type: object
      required: [id, trace_id, project_id, metric_name, evaluator_type, status]
      properties:
        id: { type: string, format: uuid }
        trace_id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        metric_name: { type: string }
        evaluator_type: { type: string, enum: [llm, rule] }
        status: { type: string, enum: [pending, running, complete, failed] }
        score: { type: number, nullable: true }
        label: { type: string, nullable: true }
        reasoning: { type: string, nullable: true }

    EvalListResponse:
      type: object
      required: [evals]
      properties:
        evals:
          type: array
          items: { $ref: "#/components/schemas/Evaluation" }

    # ── API Keys ─────────────────────────────────────────────────────────────────

    CreateAPIKeyRequest:
      type: object
      required: [name]
      properties:
        name: { type: string, description: Human-readable label for the key }

    CreateAPIKeyResponse:
      type: object
      required: [id, key, prefix, name, created_at]
      properties:
        id: { type: string, format: uuid }
        key: { type: string, description: "Full plaintext key — shown once only" }
        prefix: { type: string }
        name: { type: string }
        created_at: { type: string, format: date-time }

    APIKey:
      type: object
      required: [id, prefix, name, created_at]
      properties:
        id: { type: string, format: uuid }
        prefix: { type: string }
        name: { type: string }
        created_at: { type: string, format: date-time }
        last_used_at: { type: string, format: date-time, nullable: true }
        revoked_at: { type: string, format: date-time, nullable: true }
