openapi: "3.1.0"
info:
  title: TruLayer API
  version: "0.1.0"
  description: |
    Trace ingestion, evaluation, query, and feedback API for TruLayer AI.

    ### Authentication

    Two auth schemes coexist: SDK API keys (`Authorization: Bearer tl_...`)
    and Clerk session JWTs (dashboard). Routes marked "requires Clerk auth"
    in their summary are unreachable via API key.

    ### Roles (TRU-54)

    Dashboard requests carry one of five organization roles: `owner`,
    `operator`, `member`, `auditor`, `viewer`. Endpoints enforce role
    allowlists, not rank comparisons — `auditor` has access to
    `/v1/audit-log` that `member` does not. See `docs/security.md` for
    the full role-permission matrix.

    - **owner** — full control including billing and member management.
    - **operator** — on-call plane: everything `member` can do plus
      control-loop execution, DLQ resolution, and destructive deletes on
      failure-rules/model-routes/webhooks. No billing, no member
      management.
    - **member** — read + write (ingest, feedback, evals, API keys,
      projects).
    - **auditor** — read-only plus `/v1/audit-log` and `/v1/dlq` access
      for compliance review.
    - **viewer** — read-only dashboard access.

servers:
  - url: https://api.trulayer.ai
    description: Production
  - url: http://localhost:8080
    description: Local development

security:
  - BearerAuth: []

tags:
  - name: health
  - name: ingest
  - name: traces
  - name: metrics
  - name: feedback
  - name: evals
  - name: eval-rules
  - name: control
  - name: apikeys
  - name: model-routes
  - name: datasets
  - name: search
  - name: anomaly
  - name: webhooks
  - name: failure-rules
  - name: eval-runs
  - name: ci
  - name: otlp
  - name: billing
  - name: deprecations
  - name: audit
  - name: failures
  - name: projects
  - name: compliance
  - name: dsr
  - name: policies

paths:
  /health:
    get:
      operationId: getHealth
      tags: [health]
      security: []
      summary: Liveness check
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /v1/ingest:
    post:
      operationId: ingestTrace
      tags: [ingest]
      summary: Ingest a single trace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TraceRequest"
      responses:
        "201":
          description: Trace ingested
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IngestResponse"
        "200":
          description: Duplicate — already ingested (idempotent)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DuplicateResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /v1/ingest/batch:
    post:
      operationId: ingestBatch
      tags: [ingest]
      summary: Ingest a batch of traces (max 100)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchRequest"
      responses:
        "201":
          description: Batch ingested
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchIngestResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /v1/otlp/traces:
    post:
      operationId: otlpIngestTraces
      tags: [otlp, ingest]
      summary: OTLP/HTTP ingest endpoint (OTel GenAI semconv v1.29.0)
      description: |
        Accepts an OpenTelemetry `ExportTraceServiceRequest` payload, either as
        protobuf (`application/x-protobuf`) or JSON (`application/json`). Maps
        OTel GenAI semantic convention attributes onto TruLayer's span model
        and routes each span through the standard ingestion pipeline
        (Kafka → processor → TimescaleDB).

        Point your OTel Collector's `otlphttp` exporter at this URL to
        dual-ship traces to TruLayer without a second SDK.
      requestBody:
        required: true
        content:
          application/x-protobuf:
            schema:
              type: string
              format: binary
          application/json:
            schema:
              $ref: "#/components/schemas/OTLPExportTraceServiceRequest"
      responses:
        "200":
          description: OTLP `ExportTraceServiceResponse`. `partial_success` is populated iff one or more spans failed to persist.
          content:
            application/x-protobuf:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                $ref: "#/components/schemas/OTLPExportTraceServiceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "413":
          description: Request body exceeds 20 MiB
        "415":
          description: Unsupported Content-Type (must be application/x-protobuf or application/json)
        "429":
          $ref: "#/components/responses/RateLimited"

  /v1/otlp/export:
    get:
      operationId: otlpExportTraces
      tags: [otlp, traces]
      summary: Export traces in OTLP/HTTP JSON format
      description: |
        Streams traces in OTLP `TracesData` JSON format so existing OTel
        tooling (Datadog, Honeycomb, Tempo, Jaeger) can ingest without a
        TruLayer-specific adapter. Dashboard-only (Clerk session auth).
        Capped at 10,000 spans per response; use the `cursor` query parameter
        returned in the `X-Next-Cursor` response header to paginate.
      parameters:
        - name: from
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: to
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: project_id
          in: query
          schema: { type: string, format: uuid }
        - name: cursor
          in: query
          schema: { type: string }
      responses:
        "200":
          description: OTLP `TracesData` payload (JSON-encoded protobuf).
          headers:
            X-Next-Cursor:
              description: Opaque cursor to fetch the next page, present only when more results are available.
              schema: { type: string }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OTLPTracesData"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/traces:
    get:
      operationId: listTraces
      tags: [traces]
      summary: List traces with cursor-based pagination
      parameters:
        - name: project_id
          in: query
          schema: { type: string, format: uuid }
        - name: model
          in: query
          schema: { type: string }
        - name: error
          in: query
          schema: { type: boolean }
        - name: failure_type
          in: query
          description: Filter traces with spans matching this failure type (e.g. timeout, rate_limit, invalid_response, context_length)
          schema:
            type: string
            enum: [timeout, rate_limit, invalid_response, context_length]
        - name: from
          in: query
          schema: { type: string, format: date-time }
        - name: to
          in: query
          schema: { type: string, format: date-time }
        - name: cursor
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 50, minimum: 1, maximum: 200 }
      responses:
        "200":
          description: Trace list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TraceListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/traces/{id}:
    get:
      operationId: getTrace
      tags: [traces]
      summary: Get trace detail with spans and events
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Trace detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Trace"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/deprecations:
    get:
      operationId: listDeprecations
      tags: [deprecations]
      summary: List currently deprecated v1 fields and endpoints
      description: |
        Machine-readable index of fields and endpoints under `/v1` that have
        been marked deprecated and are scheduled for removal. Empty array
        means no deprecations are active.

        See `docs/api-versioning.md` for the full policy. SDKs consume this
        endpoint to emit build-time warnings; integrators consume it to audit
        their exposure without scraping `Deprecation`/`Sunset` response
        headers across every call site.
      responses:
        "200":
          description: Deprecation list (possibly empty)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Deprecation"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/metrics:
    get:
      operationId: getMetrics
      tags: [metrics]
      summary: Aggregate metrics (error rate, latency percentiles, cost)
      parameters:
        - name: project_id
          in: query
          schema: { type: string, format: uuid }
        - name: from
          in: query
          schema: { type: string, format: date-time }
          description: Defaults to 24h ago
        - name: to
          in: query
          schema: { type: string, format: date-time }
          description: Defaults to now
      responses:
        "200":
          description: Metrics summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetricsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/audit/verify:
    get:
      operationId: verifyAuditAnchor
      tags: [audit]
      security: []
      summary: Verify a daily audit-log head-hash anchor (TRU-163)
      description: |
        Returns the recorded daily head-hash checkpoint for
        `(tenant_id, date)` as written by the anchoring job. The
        manifest itself is stored in S3 Object Lock (WORM) and is
        signed with an Ed25519 key; this endpoint returns the mirror
        stored in Postgres. Third-party auditors can cross-check the
        `head_hash` against the signed S3 manifest (verifying the
        signature locally) and, optionally, supply their own
        `expected_head_hash` to get an immediate boolean match.

        Unauthenticated by design — the anchors are public evidence.
      parameters:
        - name: tenant_id
          in: query
          required: true
          schema: { type: string, format: uuid }
        - name: date
          in: query
          required: true
          schema: { type: string, format: date }
          description: UTC day, YYYY-MM-DD.
        - name: expected_head_hash
          in: query
          required: false
          schema: { type: string }
          description: Optional. When provided, the response includes `hash_matches`.
      responses:
        "200":
          description: Anchor found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditVerifyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          description: No anchor recorded for the given (tenant_id, date)

  /v1/subprocessors:
    get:
      operationId: listSubprocessors
      tags: [compliance]
      security: []
      summary: Public sub-processor registry (TRU-52)
      description: |
        Returns TruLayer's current list of sub-processors as required
        by GDPR Art. 28(2). Public — no authentication. Content is
        negotiated via the `Accept` header:

          - `application/rss+xml` (or `text/xml`/`application/xml`) →
            RSS 2.0 feed including active sub-processors plus those
            retired within the last 90 days.
          - default / `application/json` → JSON envelope of active
            sub-processors only.
      responses:
        "200":
          description: Sub-processor list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubprocessorList"
            application/rss+xml:
              schema:
                type: string
                description: RSS 2.0 feed of sub-processor changes.

  /v1/subprocessors/subscribe:
    post:
      operationId: subscribeSubprocessorChanges
      tags: [compliance]
      security: []
      summary: Subscribe an email to sub-processor change notifications (TRU-52)
      description: |
        Customer DPOs subscribe their email to receive 30-day advance
        notice when a sub-processor is added or changed. Idempotent —
        a 200 response does not reveal whether the address was
        already subscribed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubscribeRequest"
      responses:
        "200":
          description: Subscribed (or already subscribed)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubprocessorSubscribeResponse"
        "400":
          $ref: "#/components/responses/BadRequest"

  /v1/subprocessors/unsubscribe:
    post:
      operationId: unsubscribeSubprocessorChanges
      tags: [compliance]
      security: []
      summary: Unsubscribe an email from sub-processor change notifications (TRU-52)
      description: |
        Idempotent — always returns 200 even when the email was never
        subscribed, so the endpoint cannot be used to enumerate
        subscribers.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubscribeRequest"
      responses:
        "200":
          description: Unsubscribed (or no-op)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubprocessorSubscribeResponse"

  /v1/dsr:
    post:
      operationId: createDsrRequest
      tags: [dsr]
      summary: Submit a Data Subject Request (TRU-57)
      description: |
        Self-serve GDPR/CCPA intake. Creates a pending DSR row that a
        background worker fulfils asynchronously. Dashboard-only — the
        route requires a Clerk session and the `owner` or `member`
        role. API keys cannot reach this endpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDsrRequest"
      responses:
        "201":
          description: DSR request accepted in pending state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DsrRequest"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Caller lacks the required role (owner or member)
    get:
      operationId: listDsrRequests
      tags: [dsr]
      summary: List Data Subject Requests for the authenticated tenant (TRU-57)
      description: |
        Returns DSR requests newest-first with opaque cursor pagination.
        Dashboard-only.
      parameters:
        - name: cursor
          in: query
          description: Opaque cursor from a previous response's `next_cursor`.
          schema: { type: string }
        - name: limit
          in: query
          description: Page size (1–200, default 50).
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        "200":
          description: Page of DSR requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DsrRequestList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/dsr/{id}:
    get:
      operationId: getDsrRequest
      tags: [dsr]
      summary: Fetch a single DSR request (TRU-57)
      description: Dashboard-only. Returns 404 when the row is not in the caller's tenant.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: DSR request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DsrRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: DSR request not found in this tenant

  /v1/policies:
    post:
      operationId: createPolicy
      tags: [policies]
      summary: Create a Control Loop Policy (TRU-67 Phase 1)
      description: |
        Creates a named YAML-DSL policy in `draft` status. Dashboard-only
        (Clerk session + member role required). Phase 2 (follow-up
        issue) adds the automated evaluator that applies active policies
        to eval events; Phase 1 is CRUD only.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePolicyRequest"
      responses:
        "201":
          description: Policy created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Caller lacks the required role (owner, operator, or member)
    get:
      operationId: listPolicies
      tags: [policies]
      summary: List Control Loop Policies (TRU-67 Phase 1)
      description: Dashboard-only. Supports optional status filter + pagination.
      parameters:
        - name: status
          in: query
          description: Filter by lifecycle status.
          schema:
            type: string
            enum: [draft, active, paused, archived]
        - name: limit
          in: query
          description: Page size (1–200, default 50).
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: offset
          in: query
          description: Offset into the result set (default 0).
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Page of policies
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/policies/{id}:
    get:
      operationId: getPolicy
      tags: [policies]
      summary: Fetch a single policy (TRU-67 Phase 1)
      description: Dashboard-only. Returns 404 when the row is not in the caller's tenant.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Policy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Policy not found in this tenant
    patch:
      operationId: updatePolicy
      tags: [policies]
      summary: Update a policy (TRU-67 Phase 1)
      description: PATCH semantics. Dashboard-only. Requires member+.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePolicyRequest"
      responses:
        "200":
          description: Updated policy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Caller lacks the required role
        "404":
          description: Policy not found in this tenant
    delete:
      operationId: archivePolicy
      tags: [policies]
      summary: Archive a policy (TRU-67 Phase 1)
      description: |
        Soft-delete — sets status=archived. Owner-only. Phase 2
        control_actions rows link back to policies so we never hard
        delete.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204":
          description: Policy archived
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Caller lacks owner role
        "404":
          description: Policy not found in this tenant

  /v1/ingestion-health:
    get:
      operationId: getIngestionHealth
      tags: [metrics]
      summary: Customer-facing ingestion pipeline health (TRU-167)
      description: |
        Returns ingest reliability signals (success/error rate, top error
        categories, DLQ depth, ingest lag percentiles, last-span timestamp,
        redaction match count) scoped to the authenticated tenant so
        customers can self-diagnose pipeline issues.
      parameters:
        - name: project_id
          in: query
          description: Filter to a single project. Omit for all projects in the tenant.
          schema: { type: string, format: uuid }
        - name: window
          in: query
          description: Rolling time window. Defaults to `24h`.
          schema:
            type: string
            enum: [1h, 24h, 7d]
            default: 24h
      responses:
        "200":
          description: Ingestion-health report
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IngestionHealthResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/feedback:
    post:
      operationId: submitFeedback
      tags: [feedback]
      summary: Submit user feedback on a trace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeedbackRequest"
      responses:
        "201":
          description: Feedback recorded
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/failures/clusters:
    get:
      operationId: getFailureClusters
      tags: [failures]
      summary: Group error traces by message prefix and return failure clusters
      description: |
        Groups traces that have `error=true` by their top-level error message prefix,
        returning a ranked list of failure clusters with count, first/last seen timestamps,
        and a sample of trace IDs from each cluster. Used by the dashboard Failure clustering view.
      parameters:
        - name: project_id
          in: query
          schema: { type: string, format: uuid }
        - name: from
          in: query
          schema: { type: string, format: date-time }
        - name: to
          in: query
          schema: { type: string, format: date-time }
      responses:
        "200":
          description: Failure clusters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FailureClustersResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/eval:
    post:
      operationId: triggerEval
      tags: [evals]
      summary: Trigger an evaluation run
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EvalTriggerRequest"
      responses:
        "202":
          description: Eval queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalTriggerResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          description: |
            Monthly eval quota exceeded. Returned for starter-plan tenants
            that have hit their `EvalsPerMonth` cap. Pro/Team tenants are
            never hard-blocked here — their overage is metered and billed.
            Clients should distinguish this from generic rate-limiting via
            the `code` field (`eval_quota_exceeded`).
          content:
            application/json:
              schema:
                type: object
                required: [code, error]
                properties:
                  code:
                    type: string
                    enum: [eval_quota_exceeded]
                  error:
                    type: string
    get:
      operationId: listEvals
      tags: [evals]
      summary: List evaluations
      parameters:
        - name: trace_id
          in: query
          schema: { type: string, format: uuid }
        - name: limit
          in: query
          schema: { type: integer, default: 50 }
      responses:
        "200":
          description: Eval list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/eval/{id}:
    get:
      operationId: getEval
      tags: [evals]
      summary: Get evaluation result
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Evaluation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Evaluation"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/eval/trends:
    get:
      operationId: getEvalTrends
      tags: [evals]
      summary: Get time-bucketed eval score averages per metric
      parameters:
        - name: project_id
          in: query
          required: true
          schema: { type: string, format: uuid }
        - name: metric
          in: query
          schema: { type: string }
          description: Filter by a single metric name
        - name: from
          in: query
          schema: { type: string, format: date-time }
          description: Start of time range (default last 7 days)
        - name: to
          in: query
          schema: { type: string, format: date-time }
          description: End of time range (default now)
        - name: bucket
          in: query
          schema:
            type: string
            enum: [1h, 6h, 1d, 7d]
          description: Bucket size (default auto based on range)
      responses:
        "200":
          description: Eval trend buckets
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalTrendsResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/eval/histogram:
    get:
      operationId: getEvalHistogram
      tags: [evals]
      summary: Get score distribution histogram for a metric
      parameters:
        - name: project_id
          in: query
          required: true
          schema: { type: string, format: uuid }
        - name: metric
          in: query
          required: true
          schema: { type: string }
        - name: from
          in: query
          schema: { type: string, format: date-time }
        - name: to
          in: query
          schema: { type: string, format: date-time }
        - name: buckets
          in: query
          schema: { type: integer, default: 10, minimum: 1, maximum: 100 }
          description: Number of histogram buckets
      responses:
        "200":
          description: Score distribution histogram
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalHistogramResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/eval/compare:
    get:
      operationId: compareEvalWindows
      tags: [evals]
      summary: Compare eval metrics between two time windows
      parameters:
        - name: project_id
          in: query
          required: true
          schema: { type: string, format: uuid }
        - name: metric
          in: query
          required: true
          schema: { type: string }
        - name: baseline_from
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: baseline_to
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: candidate_from
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: candidate_to
          in: query
          required: true
          schema: { type: string, format: date-time }
      responses:
        "200":
          description: Comparison result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalCompareResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/eval-catalog:
    get:
      operationId: listEvalCatalog
      tags: [eval]
      summary: List pre-built LLM evaluators available for use
      description: |
        Returns the static catalog of TruLayer's pre-built LLM-judge evaluators.
        This endpoint is public (no auth required) so SDKs and dashboards can
        render a picker before a session is established. The response is safe
        to cache aggressively. Use a catalog entry by passing its name as
        `config.preset` when triggering an eval (`POST /v1/eval`).
      security: []
      responses:
        "200":
          description: Catalog entries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalCatalogResponse"

  /v1/eval-rules:
    get:
      operationId: listEvalRules
      tags: [eval-rules]
      summary: List eval rules for the tenant
      parameters:
        - name: project_id
          in: query
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Eval rules list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalRuleListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      operationId: createEvalRule
      tags: [eval-rules]
      summary: Create an eval rule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEvalRuleRequest"
      responses:
        "201":
          description: Eval rule created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalRule"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/eval-rules/{id}:
    patch:
      operationId: updateEvalRule
      tags: [eval-rules]
      summary: Update an eval rule (partial update)
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEvalRuleRequest"
      responses:
        "200":
          description: Eval rule updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalRule"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    delete:
      operationId: deleteEvalRule
      tags: [eval-rules]
      summary: Delete an eval rule
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204":
          description: Eval rule deleted
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/failure-rules:
    get:
      operationId: listFailureRules
      tags: [failure-rules]
      summary: List failure detection rules for the tenant
      responses:
        "200":
          description: Failure rules list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FailureRuleListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createFailureRule
      tags: [failure-rules]
      summary: Create a failure detection rule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateFailureRuleRequest"
      responses:
        "201":
          description: Failure rule created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FailureRule"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/failure-rules/{id}:
    get:
      operationId: getFailureRule
      tags: [failure-rules]
      summary: Get a single failure detection rule
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Failure rule detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FailureRule"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
    patch:
      operationId: updateFailureRule
      tags: [failure-rules]
      summary: Update a failure detection rule (partial update)
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateFailureRuleRequest"
      responses:
        "200":
          description: Failure rule updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FailureRule"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    delete:
      operationId: deleteFailureRule
      tags: [failure-rules]
      summary: Delete a failure detection rule
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204":
          description: Failure rule deleted
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/traces/live:
    get:
      operationId: liveTraceFeed
      tags: [traces]
      summary: WebSocket endpoint for live trace events
      description: |
        Upgrades to WebSocket. After upgrade the server subscribes to a
        Redis pub/sub channel for the authenticated tenant and forwards
        each new trace event as a JSON WebSocket frame. The client does
        not need to send any messages after the upgrade.
      responses:
        "101":
          description: Switching Protocols — WebSocket upgrade successful
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/control/execute:
    post:
      operationId: executeControlAction
      tags: [control]
      summary: Execute a control action (retry, fallback model, or prompt modification)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecuteControlActionRequest"
      responses:
        "201":
          description: Control action created and executed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ControlAction"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/control/actions:
    get:
      operationId: listControlActions
      tags: [control]
      summary: List control actions for the tenant
      parameters:
        - name: trace_id
          in: query
          schema: { type: string, format: uuid }
        - name: cursor
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 50, minimum: 1, maximum: 100 }
      responses:
        "200":
          description: Control action list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ControlActionListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/apikeys:
    post:
      operationId: createAPIKey
      tags: [apikeys]
      summary: Create an API key (owner or member; requires Clerk auth — operator intentionally excluded)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAPIKeyRequest"
      responses:
        "201":
          description: Key created — plaintext shown once
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAPIKeyResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    get:
      operationId: listAPIKeys
      tags: [apikeys]
      summary: List API keys for the tenant
      responses:
        "200":
          description: Key list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/APIKey"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/projects:
    get:
      operationId: listProjects
      tags: [projects]
      summary: List projects for the authenticated tenant
      description: |
        Reachable via **Clerk session auth** (dashboard) and via **API key
        auth** carrying the `query` scope (MCP server, SDK clients). Only
        returns projects that belong to the caller's tenant — tenant
        isolation is enforced server-side.

        When `cursor` or `limit` is supplied the response is a single
        keyset-paginated page with `next_cursor` and `has_more`. When
        neither is supplied the response is the full list with no
        pagination fields, preserving the dashboard contract.
      parameters:
        - name: include_archived
          in: query
          schema: { type: boolean, default: false }
        - name: cursor
          in: query
          description: Opaque cursor from a prior `next_cursor`. Omit for the first page.
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 50, minimum: 1, maximum: 200 }
      responses:
        "200":
          description: Project list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/projects/{id}:
    patch:
      operationId: patchProject
      tags: [projects]
      summary: Update a project (rename or adjust retention override)
      description: |
        Partial update — supply only the fields you want to change. Current
        supported fields are `name` (human-readable project name; also
        drives the slug) and `retention_days_override` (per-project
        retention window).

        `retention_days_override` must be between 1 and the caller's plan
        retention cap (Starter=30, Pro=90, Team=180, Enterprise=unlimited).
        Set the field to JSON `null` to clear the override and fall back to
        the plan default. Dashboard-only — not reachable via API key.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchProjectRequest"
      responses:
        "200":
          description: Project updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "400":
          description: |
            Bad request — malformed body or retention override outside the
            plan-allowed range (`error.retention_override_exceeds_plan`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Project name already in use in this organization.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/datasets:
    get:
      operationId: listDatasets
      tags: [datasets]
      summary: List datasets for the authenticated tenant
      responses:
        "200":
          description: Dataset list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatasetListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createDataset
      tags: [datasets]
      summary: Create a new dataset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDatasetRequest"
      responses:
        "201":
          description: Dataset created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dataset"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/datasets/{id}:
    get:
      operationId: getDataset
      tags: [datasets]
      summary: Get a single dataset by ID
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Dataset detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dataset"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
    delete:
      operationId: deleteDataset
      tags: [datasets]
      summary: Delete a dataset and its items
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204":
          description: Dataset deleted
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/datasets/{id}/items:
    get:
      operationId: listDatasetItems
      tags: [datasets]
      summary: List items for a dataset with cursor-based pagination
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: cursor
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 50, minimum: 1, maximum: 200 }
      responses:
        "200":
          description: Dataset items list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatasetItemListResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: addDatasetItem
      tags: [datasets]
      summary: Add an item to a dataset
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddDatasetItemRequest"
      responses:
        "201":
          description: Item added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatasetItem"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/datasets/{id}/items/{itemId}:
    patch:
      operationId: patchDatasetItem
      tags: [datasets]
      summary: Update a dataset item's label
      description: |
        Updates the `label` on a single dataset item. Used by the dashboard to
        toggle inline labels while reviewing a dataset. Pass `null` (or omit
        the field) to clear the label back to unlabeled.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: itemId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchDatasetItemRequest"
      responses:
        "200":
          description: Dataset item updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatasetItem"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/model-routes:
    get:
      operationId: listModelRoutes
      tags: [model-routes]
      summary: List model routes for the tenant
      parameters:
        - name: cursor
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 50, minimum: 1, maximum: 200 }
      responses:
        "200":
          description: Model routes list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelRouteListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      operationId: createModelRoute
      tags: [model-routes]
      summary: Create a model route
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateModelRouteRequest"
      responses:
        "201":
          description: Model route created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelRoute"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/model-routes/{id}:
    patch:
      operationId: updateModelRoute
      tags: [model-routes]
      summary: Update a model route (partial update)
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateModelRouteRequest"
      responses:
        "200":
          description: Model route updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelRoute"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    delete:
      operationId: deleteModelRoute
      tags: [model-routes]
      summary: Delete a model route
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204":
          description: Model route deleted
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/search/spans:
    get:
      operationId: searchSpansText
      tags: [search]
      summary: Free-text semantic search over span embeddings (server-side embed)
      description: >
        Embeds the `q` query server-side using the tenant's configured BYOK
        embedding key (OpenAI preferred, Anthropic fallback), then runs
        pgvector similarity search over span embeddings. Designed for MCP
        agents and other callers that cannot produce a 1536-dim vector
        directly.
      parameters:
        - name: q
          in: query
          required: true
          schema: { type: string, minLength: 1 }
          description: Free-form text to embed and search.
        - name: project_id
          in: query
          required: true
          schema: { type: string, format: uuid }
        - name: from
          in: query
          required: false
          schema: { type: string, format: date-time }
          description: RFC3339 lower bound on span created_at.
        - name: to
          in: query
          required: false
          schema: { type: string, format: date-time }
          description: RFC3339 upper bound on span created_at.
        - name: limit
          in: query
          required: false
          schema: { type: integer, default: 20, minimum: 1, maximum: 100 }
        - name: cursor
          in: query
          required: false
          schema: { type: string }
          description: Opaque cursor returned by a previous response.
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpanTextSearchResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/RateLimited"
        "502":
          description: Upstream embedding provider failed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
    post:
      operationId: searchSpans
      tags: [search]
      summary: Find spans semantically similar to a query vector
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpanSearchRequest"
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpanSearchResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/webhooks:
    get:
      operationId: listWebhooks
      tags: [webhooks]
      summary: List webhooks for the tenant
      responses:
        "200":
          description: Webhook list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      operationId: createWebhook
      tags: [webhooks]
      summary: Create a webhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookRequest"
      responses:
        "201":
          description: Webhook created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/webhooks/{id}:
    delete:
      operationId: deleteWebhook
      tags: [webhooks]
      summary: Delete a webhook (owner or operator)
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204":
          description: Webhook deleted
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/apikeys/{id}:
    delete:
      operationId: revokeAPIKey
      tags: [apikeys]
      summary: Revoke an API key (owner only; requires Clerk auth)
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204":
          description: Revoked
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/anomalies:
    get:
      operationId: listAnomalies
      tags: [anomaly]
      summary: List detected anomalies for the tenant
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 50, minimum: 1, maximum: 100 }
        - name: offset
          in: query
          schema: { type: integer, default: 0, minimum: 0 }
      responses:
        "200":
          description: Anomaly list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnomalyListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/anomalies/{id}:
    get:
      operationId: getAnomaly
      tags: [anomaly]
      summary: Get a single anomaly by ID
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Anomaly detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Anomaly"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ── Eval Runs ──────────────────────────────────────────────────────────────

  /v1/datasets/{id}/versions:
    post:
      operationId: createEvalVersion
      tags: [eval-runs]
      summary: Create an eval version for a dataset
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEvalVersionRequest"
      responses:
        "201":
          description: Version created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalVersion"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
    get:
      operationId: listEvalVersions
      tags: [eval-runs]
      summary: List eval versions for a dataset
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: List of versions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalVersionListResponse"

  /v1/datasets/{id}/runs:
    post:
      operationId: scheduleEvalRun
      tags: [eval-runs]
      summary: Schedule an eval run against a dataset version
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScheduleEvalRunRequest"
      responses:
        "202":
          description: Run scheduled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalRun"
        "404":
          $ref: "#/components/responses/NotFound"
    get:
      operationId: listEvalRuns
      tags: [eval-runs]
      summary: List eval runs for a dataset
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: offset
          in: query
          schema: { type: integer, default: 0 }
      responses:
        "200":
          description: List of runs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalRunListResponse"

  /v1/eval-runs/{id}:
    get:
      operationId: getEvalRun
      tags: [eval-runs]
      summary: Get eval run status and progress
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Run detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalRun"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/eval-runs/{id}/diff:
    get:
      operationId: getEvalRunDiff
      tags: [eval-runs]
      summary: Score diff between two eval runs
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: baseline
          in: query
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Diff result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalRunDiff"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── CI Gate ────────────────────────────────────────────────────────────────

  /v1/settings/eval-keys:
    get:
      operationId: listEvalKeys
      tags: [eval-keys]
      summary: List active BYOK keys for premium eval models
      description: |
        Returns the active (non-revoked) provider keys for the tenant.
        The raw key material is never returned — only provider and
        creation metadata.
      responses:
        "200":
          description: List of active BYOK keys
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalKeyListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      operationId: upsertEvalKey
      tags: [eval-keys]
      summary: Create or replace the BYOK key for a provider
      description: |
        Stores an encrypted copy of the provider API key. If a key for
        the same provider already exists it is revoked atomically so
        there is never more than one active key per (tenant, provider).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertEvalKeyRequest"
      responses:
        "201":
          description: BYOK key stored
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalKey"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/settings/eval-keys/{provider}:
    delete:
      operationId: revokeEvalKey
      tags: [eval-keys]
      summary: Revoke the BYOK key for a provider
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum: [openai, anthropic]
      responses:
        "204":
          description: Key revoked
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/settings/billing/checkout:
    post:
      operationId: createBillingCheckout
      tags: [billing]
      summary: Create a Stripe Checkout session for a plan upgrade
      description: |
        Creates a Stripe Checkout session for the specified paid plan.
        Owner-only. Starter is rejected — free plans never require a
        checkout session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BillingCheckoutRequest"
      responses:
        "200":
          description: Checkout session URL
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingCheckoutResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/settings/billing/portal:
    post:
      operationId: createBillingPortal
      tags: [billing]
      summary: Create a Stripe Billing Portal session
      description: |
        Creates a Stripe Customer Portal session so the owner can manage
        their subscription. Returns 422 if there is no active
        subscription for the tenant.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BillingPortalRequest"
      responses:
        "200":
          description: Portal session URL
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingPortalResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /v1/settings/invoices:
    get:
      operationId: listBillingInvoices
      tags: [billing]
      summary: List recent Stripe invoices for the tenant
      description: |
        Returns up to 24 recent Stripe invoices for the authenticated
        tenant's Stripe customer, newest first. Tenants on Starter (no
        Stripe customer yet) receive an empty list rather than a 404.
      responses:
        "200":
          description: Invoice history
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingInvoicesResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/ci/gate:
    post:
      operationId: ciGate
      tags: [ci]
      summary: Evaluate an eval run against a CI policy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CIGateRequest"
      responses:
        "200":
          description: Gate decision
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CIGateResponse"
        "404":
          $ref: "#/components/responses/NotFound"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: SDK API key (`tl_...`) or Clerk session JWT

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    Unauthorized:
      description: Missing or invalid credentials
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    Forbidden:
      description: Insufficient role
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    UnprocessableEntity:
      description: Request understood but cannot be processed in the current state
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }

  schemas:
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error: { type: string }

    HealthResponse:
      type: object
      required: [status, time]
      properties:
        status: { type: string, example: ok }
        time: { type: string, format: date-time }

    # ── OTLP / OpenTelemetry (TRU-40) ────────────────────────────────────────────
    # Documented here as loose JSON schemas. The wire format is the official
    # OTLP protobuf — see go.opentelemetry.io/proto/otlp v1.10+ for the
    # authoritative types. GenAI semconv attributes are pinned to v1.29.0.

    OTLPExportTraceServiceRequest:
      type: object
      description: OTLP ExportTraceServiceRequest — passthrough of the OTel protobuf shape.
      properties:
        resourceSpans:
          type: array
          items:
            $ref: "#/components/schemas/OTLPResourceSpans"

    OTLPExportTraceServiceResponse:
      type: object
      properties:
        partialSuccess:
          type: object
          properties:
            rejectedSpans: { type: integer, format: int64 }
            errorMessage: { type: string }

    OTLPTracesData:
      type: object
      properties:
        resourceSpans:
          type: array
          items:
            $ref: "#/components/schemas/OTLPResourceSpans"

    OTLPResourceSpans:
      type: object
      properties:
        resource:
          type: object
          properties:
            attributes:
              type: array
              items: { $ref: "#/components/schemas/OTLPKeyValue" }
        scopeSpans:
          type: array
          items:
            $ref: "#/components/schemas/OTLPScopeSpans"
        schemaUrl: { type: string }

    OTLPScopeSpans:
      type: object
      properties:
        scope:
          type: object
          properties:
            name: { type: string }
            version: { type: string }
        spans:
          type: array
          items:
            $ref: "#/components/schemas/OTLPSpan"
        schemaUrl: { type: string }

    OTLPSpan:
      type: object
      properties:
        traceId: { type: string, description: 128-bit trace id, base64 or hex per OTel transport }
        spanId: { type: string, description: 64-bit span id, base64 or hex per OTel transport }
        parentSpanId: { type: string }
        name: { type: string }
        startTimeUnixNano: { type: string, format: int64 }
        endTimeUnixNano: { type: string, format: int64 }
        attributes:
          type: array
          items: { $ref: "#/components/schemas/OTLPKeyValue" }

    OTLPKeyValue:
      type: object
      properties:
        key: { type: string }
        value:
          type: object
          description: OTel AnyValue — one of stringValue, intValue, boolValue, doubleValue, arrayValue, kvlistValue, bytesValue.
          additionalProperties: true

    # ── Ingestion ────────────────────────────────────────────────────────────────

    SpanRequest:
      type: object
      required: [name, type]
      properties:
        id: { type: string }
        parent_span_id: { type: string, nullable: true }
        name: { type: string }
        type:
          type: string
          enum: [llm, tool, retrieval, other]
        input: { type: string, nullable: true }
        output: { type: string, nullable: true }
        model: { type: string, nullable: true }
        latency_ms: { type: integer, nullable: true }
        cost: { type: number, nullable: true }
        error: { type: string, nullable: true }
        metadata: { type: object, additionalProperties: true }
        start_time: { type: string, format: date-time, nullable: true }
        end_time: { type: string, format: date-time, nullable: true }

    EventRequest:
      type: object
      required: [message]
      properties:
        id: { type: string }
        span_id: { type: string, nullable: true }
        level:
          type: string
          enum: [info, warn, error]
          default: info
        message: { type: string }
        metadata: { type: object, additionalProperties: true }

    TraceRequest:
      type: object
      properties:
        id: { type: string }
        external_id: { type: string, nullable: true }
        name: { type: string, nullable: true }
        input: { type: string, nullable: true }
        output: { type: string, nullable: true }
        model: { type: string, nullable: true }
        latency_ms: { type: integer, nullable: true }
        cost: { type: number, nullable: true }
        error: { type: string, nullable: true }
        metadata: { type: object, additionalProperties: true }
        spans:
          type: array
          items: { $ref: "#/components/schemas/SpanRequest" }
        events:
          type: array
          items: { $ref: "#/components/schemas/EventRequest" }

    BatchRequest:
      type: object
      required: [traces]
      properties:
        traces:
          type: array
          minItems: 1
          maxItems: 100
          items: { $ref: "#/components/schemas/TraceRequest" }

    IngestResponse:
      type: object
      required: [id, created_at]
      properties:
        id: { type: string, format: uuid }
        created_at: { type: string, format: date-time }

    DuplicateResponse:
      type: object
      required: [status]
      properties:
        status: { type: string, example: duplicate }

    BatchIngestResponse:
      type: object
      required: [ingested, ids]
      properties:
        ingested: { type: integer }
        ids:
          type: array
          items: { type: string, format: uuid }

    # ── Traces ───────────────────────────────────────────────────────────────────

    Span:
      type: object
      required: [id, trace_id, name, span_type, error, started_at]
      properties:
        id: { type: string, format: uuid }
        trace_id: { type: string, format: uuid }
        name: { type: string }
        span_type: { type: string, enum: [llm, tool, retrieval, other, default] }
        input: { type: string, nullable: true }
        output: { type: string, nullable: true }
        error: { type: boolean }
        error_message: { type: string, nullable: true }
        latency_ms: { type: integer, nullable: true }
        model: { type: string, nullable: true }
        prompt_tokens: { type: integer, nullable: true }
        completion_tokens: { type: integer, nullable: true }
        metadata: { type: object, additionalProperties: true }
        started_at: { type: string, format: date-time }
        ended_at: { type: string, format: date-time, nullable: true }

    Trace:
      type: object
      required: [id, project_id, error, tags, started_at]
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        session_id: { type: string, nullable: true }
        external_id: { type: string, nullable: true }
        name: { type: string, nullable: true }
        input: { type: string, nullable: true }
        output: { type: string, nullable: true }
        model: { type: string, nullable: true }
        latency_ms: { type: integer, nullable: true }
        cost: { type: number, nullable: true }
        error: { type: boolean }
        tags: { type: array, items: { type: string } }
        metadata: { type: object, additionalProperties: true }
        span_count: { type: integer }
        spans:
          type: array
          items: { $ref: "#/components/schemas/Span" }
        started_at: { type: string, format: date-time }
        ended_at: { type: string, format: date-time, nullable: true }

    TraceListResponse:
      type: object
      required: [traces, has_more]
      properties:
        traces:
          type: array
          items: { $ref: "#/components/schemas/Trace" }
        next_cursor: { type: string, nullable: true }
        has_more: { type: boolean }

    # ── Deprecations ─────────────────────────────────────────────────────────────

    Deprecation:
      type: object
      required: [field, endpoint, sunset_date]
      description: |
        One currently-deprecated v1 field or endpoint. `field` is the
        JSON-path-style name within the response body (e.g. `trace_id`,
        `metadata.project`); for whole-endpoint deprecations use `field: ""`.
        `endpoint` is the path template (e.g. `/v1/traces/{id}`).
        `sunset_date` is the ISO-8601 date on or after which the field or
        endpoint will be removed — matches the `Sunset` response header.
      properties:
        field: { type: string }
        endpoint: { type: string }
        sunset_date: { type: string, format: date }

    # ── Metrics ──────────────────────────────────────────────────────────────────

    MetricsResponse:
      type: object
      required: [total_traces, error_count, from, to]
      properties:
        total_traces: { type: integer }
        error_count: { type: integer }
        error_rate: { type: number, nullable: true, description: "Fraction 0–1; null when total_traces=0" }
        p50_latency_ms: { type: number, nullable: true }
        p95_latency_ms: { type: number, nullable: true }
        p99_latency_ms: { type: number, nullable: true }
        total_cost: { type: number, nullable: true }
        from: { type: string, format: date-time }
        to: { type: string, format: date-time }

    # ── Ingestion health (TRU-167) ───────────────────────────────────────────────

    IngestionHealthTopError:
      type: object
      required: [category, count]
      properties:
        category: { type: string, description: "Coarse error category (first 64 chars of the error text)" }
        count: { type: integer, format: int64 }

    IngestionHealthDLQDepth:
      type: object
      required: [traces, evals]
      properties:
        traces: { type: integer, format: int64 }
        evals: { type: integer, format: int64 }

    IngestionHealthLag:
      type: object
      required: [p50, p95, p99]
      properties:
        p50: { type: integer, format: int64 }
        p95: { type: integer, format: int64 }
        p99: { type: integer, format: int64 }

    AuditVerifyResponse:
      type: object
      required:
        - verified
        - date
        - head_hash
        - row_count
        - s3_key
        - anchored_at
      properties:
        verified:
          type: boolean
          description: "True when an anchor row exists for the given (tenant_id, date)."
        date:
          type: string
          format: date
        head_hash:
          type: string
          description: "Hex-encoded sha256 of the audit-log chain head as of the anchor date."
        row_count:
          type: integer
          format: int64
        s3_key:
          type: string
          description: "Object key of the signed manifest in the anchor S3 bucket."
        anchored_at:
          type: string
          format: date-time
        hash_matches:
          type: boolean
          nullable: true
          description: "Present only when the caller provided `expected_head_hash`."

    Subprocessor:
      type: object
      required:
        - id
        - vendor
        - purpose
        - region
        - effective_at
      properties:
        id:
          type: string
          format: uuid
        vendor:
          type: string
        purpose:
          type: string
        region:
          type: string
        dpa_url:
          type: string
          nullable: true
        effective_at:
          type: string
          format: date-time
        retired_at:
          type: string
          format: date-time
          nullable: true

    SubprocessorList:
      type: object
      required:
        - subprocessors
        - updated_at
      properties:
        subprocessors:
          type: array
          items:
            $ref: "#/components/schemas/Subprocessor"
        updated_at:
          type: string
          format: date-time

    SubscribeRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email

    SubprocessorSubscribeResponse:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [subscribed, unsubscribed]

    CreateDsrRequest:
      type: object
      required:
        - subject_id
        - type
      properties:
        subject_id:
          type: string
          description: Opaque identifier for the data subject in the customer's namespace.
        type:
          type: string
          enum: [delete, export]
          description: |
            `delete` triggers erasure (GDPR Art. 17 / CCPA right to delete);
            `export` triggers data export (GDPR Art. 15 / CCPA right to know).

    DsrRequest:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - tenant_id
        - requested_by
        - subject_id
        - type
        - status
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        tenant_id:
          type: string
          format: uuid
        requested_by:
          type: string
          description: Clerk user ID of the dashboard user who submitted the request.
        subject_id:
          type: string
        type:
          type: string
          enum: [delete, export]
        status:
          type: string
          enum: [pending, processing, completed, failed]
        completed_at:
          type: string
          format: date-time
          nullable: true
        export_url:
          type: string
          nullable: true
          description: Signed URL pointing at the export artefact. Set only for completed `export` requests.
        error_msg:
          type: string
          nullable: true
          description: Terse failure description. Set only when `status = failed`.

    DsrRequestList:
      type: object
      required:
        - items
        - requests
      properties:
        items:
          type: array
          deprecated: true
          description: |
            Legacy alias for `requests`. Present for v1 back-compatibility only.
            New integrations should read `requests`. This field will be removed
            after the 12-month deprecation window closes (see `/v1/deprecations`).
          items:
            $ref: "#/components/schemas/DsrRequest"
        requests:
          type: array
          description: The page of DSR rows for this tenant. Canonical key — prefer over `items`.
          items:
            $ref: "#/components/schemas/DsrRequest"
        next_cursor:
          type: string
          description: Opaque cursor for the next page; omitted when there are no further rows.

    Policy:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - tenant_id
        - name
        - description
        - status
        - rule_yaml
        - trigger_type
        - action_type
        - rollout_pct
        - dry_run
        - created_by
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        tenant_id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [draft, active, paused, archived]
        rule_yaml:
          type: string
          description: Raw YAML DSL as authored. Opaque to the server in Phase 1.
        trigger_type:
          type: string
          enum: [eval_score, anomaly, failure_rate]
          description: Denormalised summary of the `when:` clause for fast filtering.
        action_type:
          type: string
          enum: [retry, fallback_model, route_pct, block, escalate]
          description: Denormalised summary of the `then:` clause for fast filtering.
        rollout_pct:
          type: integer
          minimum: 0
          maximum: 100
          description: Staged-rollout percentage. 0 means the policy is authored but inactive.
        dry_run:
          type: boolean
          description: When true, the evaluator records observations without applying the action.
        created_by:
          type: string
          description: Clerk user ID of the author.

    CreatePolicyRequest:
      type: object
      required:
        - name
        - rule_yaml
        - trigger_type
        - action_type
      properties:
        name:
          type: string
        description:
          type: string
        rule_yaml:
          type: string
        trigger_type:
          type: string
          enum: [eval_score, anomaly, failure_rate]
        action_type:
          type: string
          enum: [retry, fallback_model, route_pct, block, escalate]
        rollout_pct:
          type: integer
          minimum: 0
          maximum: 100
          default: 0
        dry_run:
          type: boolean
          default: true

    UpdatePolicyRequest:
      type: object
      description: PATCH body — all fields optional; only supplied fields are changed.
      properties:
        name:
          type: string
        description:
          type: string
        rule_yaml:
          type: string
        trigger_type:
          type: string
          enum: [eval_score, anomaly, failure_rate]
        action_type:
          type: string
          enum: [retry, fallback_model, route_pct, block, escalate]
        rollout_pct:
          type: integer
          minimum: 0
          maximum: 100
        dry_run:
          type: boolean
        status:
          type: string
          enum: [draft, active, paused, archived]

    PolicyListResponse:
      type: object
      required:
        - items
        - total
        - limit
        - offset
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Policy"
        total:
          type: integer
          format: int64
        limit:
          type: integer
        offset:
          type: integer

    IngestionHealthResponse:
      type: object
      required:
        - window
        - success_rate
        - error_rate
        - top_errors
        - dlq_depth
        - ingest_lag_ms
        - redaction_match_count
      properties:
        project_id:
          type: string
          format: uuid
          nullable: true
          description: "Echoes the `project_id` query param when set; omitted for tenant-wide reports."
        window:
          type: string
          enum: [1h, 24h, 7d]
        success_rate:
          type: number
          description: "Fraction 0–1 of traces without an error. 1.0 when no traffic in the window."
        error_rate:
          type: number
          description: "Fraction 0–1 of traces with a non-empty error."
        top_errors:
          type: array
          items: { $ref: "#/components/schemas/IngestionHealthTopError" }
        dlq_depth: { $ref: "#/components/schemas/IngestionHealthDLQDepth" }
        ingest_lag_ms: { $ref: "#/components/schemas/IngestionHealthLag" }
        last_successful_span_at:
          type: string
          format: date-time
          nullable: true
        redaction_match_count:
          type: integer
          format: int64
          description: "Zero until redaction instrumentation lands."

    # ── Feedback ─────────────────────────────────────────────────────────────────

    FeedbackRequest:
      type: object
      required: [trace_id, label]
      properties:
        trace_id: { type: string, format: uuid }
        label: { type: string, enum: [good, bad, neutral] }
        score: { type: number, nullable: true }
        comment: { type: string, nullable: true }
        metadata: { type: object, additionalProperties: true }

    # ── Evals ────────────────────────────────────────────────────────────────────

    EvalTriggerRequest:
      type: object
      required: [trace_id, evaluator_type, metric_name]
      properties:
        trace_id: { type: string, format: uuid }
        evaluator_type: { type: string, enum: [llm, rule] }
        metric_name: { type: string }

    EvalTriggerResponse:
      type: object
      required: [eval_id, status]
      properties:
        eval_id: { type: string, format: uuid }
        status: { type: string, enum: [pending, running, complete, failed] }

    Evaluation:
      type: object
      required: [id, trace_id, project_id, metric_name, evaluator_type, status]
      properties:
        id: { type: string, format: uuid }
        trace_id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        metric_name: { type: string }
        evaluator_type: { type: string, enum: [llm, rule] }
        status: { type: string, enum: [pending, running, complete, failed] }
        score: { type: number, nullable: true }
        label: { type: string, nullable: true }
        reasoning: { type: string, nullable: true }

    EvalListResponse:
      type: object
      required: [evals]
      properties:
        evals:
          type: array
          items: { $ref: "#/components/schemas/Evaluation" }

    # ── Eval Analytics ───────────────────────────────────────────────────────────

    EvalTrendBucket:
      type: object
      required: [time, metric, avg_score, count, pass_rate]
      properties:
        time: { type: string, format: date-time }
        metric: { type: string }
        avg_score: { type: number }
        count: { type: integer }
        pass_rate: { type: number, description: "Fraction 0-1 of evals with score >= 0.5" }

    EvalTrendsResponse:
      type: object
      required: [buckets]
      properties:
        buckets:
          type: array
          items: { $ref: "#/components/schemas/EvalTrendBucket" }

    EvalHistogramBucket:
      type: object
      required: [range_start, range_end, count]
      properties:
        range_start: { type: number }
        range_end: { type: number }
        count: { type: integer }

    EvalHistogramResponse:
      type: object
      required: [metric, buckets]
      properties:
        metric: { type: string }
        buckets:
          type: array
          items: { $ref: "#/components/schemas/EvalHistogramBucket" }

    EvalCompareWindow:
      type: object
      required: [avg_score, count, pass_rate]
      properties:
        avg_score: { type: number }
        count: { type: integer }
        pass_rate: { type: number }

    EvalCompareDelta:
      type: object
      required: [avg_score, pass_rate]
      properties:
        avg_score: { type: number }
        pass_rate: { type: number }

    EvalCompareResponse:
      type: object
      required: [metric, baseline, candidate, delta]
      properties:
        metric: { type: string }
        baseline: { $ref: "#/components/schemas/EvalCompareWindow" }
        candidate: { $ref: "#/components/schemas/EvalCompareWindow" }
        delta: { $ref: "#/components/schemas/EvalCompareDelta" }

    # ── Eval Rules ───────────────────────────────────────────────────────────────

    EvalRule:
      type: object
      required: [id, tenant_id, project_id, metric_name, evaluator_type, enabled, model_tier, created_at, updated_at]
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        metric_name: { type: string }
        evaluator_type:
          type: string
          enum: [llm, rule]
        config: { type: object, additionalProperties: true, nullable: true }
        enabled: { type: boolean }
        model_tier:
          type: string
          enum: [cheap, premium]
          default: cheap
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    EvalRuleListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items: { $ref: "#/components/schemas/EvalRule" }

    EvalCatalogEntry:
      type: object
      required: [name, description, tags, cost_tier, example_input, example_output]
      properties:
        name:
          type: string
          description: Stable identifier used as `config.preset` when triggering an eval.
        description: { type: string }
        tags:
          type: array
          items: { type: string }
          description: One or more of quality, safety, retrieval, tool-use.
        cost_tier:
          type: string
          enum: [low, medium, high]
        example_input: { type: string }
        example_output: { type: string }

    EvalCatalogResponse:
      type: object
      required: [evaluators]
      properties:
        evaluators:
          type: array
          items: { $ref: "#/components/schemas/EvalCatalogEntry" }

    CreateEvalRuleRequest:
      type: object
      required: [project_id, metric_name, evaluator_type]
      properties:
        project_id: { type: string, format: uuid }
        metric_name: { type: string }
        evaluator_type:
          type: string
          enum: [llm, rule]
        config: { type: object, additionalProperties: true, nullable: true }
        enabled: { type: boolean, default: true }
        model_tier:
          type: string
          enum: [cheap, premium]
          default: cheap

    UpdateEvalRuleRequest:
      type: object
      properties:
        enabled: { type: boolean, nullable: true }
        metric_name: { type: string, nullable: true }
        config: { type: object, additionalProperties: true, nullable: true }
        model_tier:
          type: string
          enum: [cheap, premium]
          nullable: true

    # ── Eval Keys (BYOK) ─────────────────────────────────────────────────────────

    EvalKey:
      type: object
      required: [id, provider, created_at]
      properties:
        id: { type: string, format: uuid }
        provider:
          type: string
          enum: [openai, anthropic]
        created_at: { type: string, format: date-time }

    EvalKeyListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items: { $ref: "#/components/schemas/EvalKey" }

    UpsertEvalKeyRequest:
      type: object
      required: [provider, key]
      properties:
        provider:
          type: string
          enum: [openai, anthropic]
        key:
          type: string
          description: Raw provider API key. Stored AES-256-GCM encrypted; never returned.

    # ── Failure Rules ────────────────────────────────────────────────────────────

    FailureRule:
      type: object
      required: [id, tenant_id, name, metric, operator, threshold, window_secs, severity, enabled, created_at, updated_at]
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        name: { type: string }
        metric:
          type: string
          enum: [error_rate, latency_p99, latency_p95, score]
        operator:
          type: string
          enum: [gt, gte, lt, lte]
        threshold: { type: number }
        window_secs: { type: integer, default: 300 }
        severity:
          type: string
          enum: [low, medium, high, critical]
          default: medium
        enabled: { type: boolean, default: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    FailureRuleListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items: { $ref: "#/components/schemas/FailureRule" }

    CreateFailureRuleRequest:
      type: object
      required: [name, metric, operator, threshold]
      properties:
        name: { type: string }
        metric:
          type: string
          enum: [error_rate, latency_p99, latency_p95, score]
        operator:
          type: string
          enum: [gt, gte, lt, lte]
        threshold: { type: number }
        window_secs: { type: integer, default: 300 }
        severity:
          type: string
          enum: [low, medium, high, critical]
          default: medium
        enabled: { type: boolean, default: true }

    UpdateFailureRuleRequest:
      type: object
      properties:
        name: { type: string, nullable: true }
        metric:
          type: string
          enum: [error_rate, latency_p99, latency_p95, score]
          nullable: true
        operator:
          type: string
          enum: [gt, gte, lt, lte]
          nullable: true
        threshold: { type: number, nullable: true }
        window_secs: { type: integer, nullable: true }
        severity:
          type: string
          enum: [low, medium, high, critical]
          nullable: true
        enabled: { type: boolean, nullable: true }

    # ── Live Trace Events ────────────────────────────────────────────────────────

    LiveTraceEvent:
      type: object
      required: [trace_id, name, status, latency_ms, created_at]
      properties:
        trace_id: { type: string, format: uuid }
        name: { type: string }
        status:
          type: string
          enum: [ok, error]
        latency_ms: { type: integer }
        created_at: { type: string, format: date-time }

    # ── API Keys ─────────────────────────────────────────────────────────────────

    CreateAPIKeyRequest:
      type: object
      required: [name]
      properties:
        name: { type: string, description: Human-readable label for the key }

    CreateAPIKeyResponse:
      type: object
      required: [id, key, prefix, name, created_at]
      properties:
        id: { type: string, format: uuid }
        key: { type: string, description: "Full plaintext key — shown once only" }
        prefix: { type: string }
        name: { type: string }
[...]
